body {
  background-image: url("../src/images/stackedBooks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: 50%;
  /* width: 50% */
  
}

@media (max-width: 1200px) {
  body {
    background-size: 100%;
  }

}



    
