body {
  background-image: url("../src/images/stackedBooks.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-position: right;
}

@media screen and (max-width: 768px){
  body {
    background-size: 100%;
  }
}



    
