
.bookInfo-container{
    width: 68%;
    padding: 10px;
    text-align: center;
  }

.form-container{
    width: 50%;
    margin-left: 5%;
}


.deleteBtn {
    background-color: #49868c;
    color: white;
}

input {
    width: 50%;
}

span {
    margin-left: 5%;
}

.submitBtn{
    display: block;
    margin:2% 0 1% 0;
 }  

  .clearBtn {
      color: white;
  }

 .saveBtn:hover, .deleteBtn:hover {
     opacity: 0.5;
 }

.resultHead{
    margin-top: 30px;
    padding: 20px;
}

.nothingMsg{
    margin-left: 50px;
}

.container-fluid a{
    justify-content: left;
}


@media (max-width: 1200px) {
    .form-container{
        width: 100%;
    }

    h1, h3, .form-group {
        text-align: center;
    }

    #startMsg, .form-group p, .resultHead, .nothingMsg {
        color: #fff;
    }

    .submitBtn {
        margin: 0 auto;
    }

    .clearBtn {
        margin-top: 2%;
       
    }
    
    .bookInfo-container {
        width: 100%;
    }

    .data {
        width: 100%;
    }

    .data-book-div {
        background-color: white;
        padding: 1em;
    }

  }



 
  


