
.bookInfo-container{
    width: 68%;
    padding: 10px;
    text-align: center;
  }

.form-container{
    width: 50%;
    margin-left: 5%;
}


.deleteBtn {
    background-color: #49868c;
    /* font-weight: bold; */
    color: white;
}

input {
    width: 50%;
}

span {
    margin-left: 5%;
}

.submitBtn{
    display: block;
    margin-top: 5%;
 }  

.resultHead{
    margin-top: 30px;
    padding: 20px;
}

.nothingMsg{
    margin-left: 50px;
}


