
.bookInfo-container{
    width: 68%;
    padding: 10px;
    text-align: center;
  }

.form-container{
    width: 50%;
    margin-left: 5%;
}


.deleteBtn {
    background-color: #49868c;
    /* font-weight: bold; */
    color: white;
}

input {
    width: 50%;
}

span {
    margin-left: 5%;
}

.submitBtn{
    display: block;
    margin-top: 5%;
 }  

.resultHead{
    margin-top: 30px;
    padding: 20px;
}

.nothingMsg{
    margin-left: 50px;
}

.container-fluid a{
    justify-content: left;
}


@media (max-width: 1200px) {
    .form-container{
        width: 100%;
    }

    h1, h3, .form-group {
        text-align: center;
    }

    #startMsg, .form-group p, .resultHead, .nothingMsg {
        color: #fff;
    }

    .submitBtn {
        margin: 0 auto;
    }
    
    .bookInfo-container {
        width: 100%;
        color: cornsilk;
    }

    .data {
        width: 100%;
    }


  }


