ul {
    list-style-type: none;
}

h2 {
    color: #fff;
}


.saveBtn{
    background-color: #e77a25;
    font-weight: bold;
    border: 1px solid;
}

.jumbotron {
    font-family: 'Akaya Telivigala', cursive;
    width:50%;
    background-color: #e9ecef;
    padding: 2em;
    margin-bottom: 1em;
}

.data {
    width: 65%;
}

.navbar {
    background-color: #036588;
    color: white;
    position: fixed;
    width: 100%;
}

.nav-link{
    text-decoration: none;
}
.navSecondary {
    color: #fff;
    
}

.navSecondary:visited {
    color: white;
}
.navSecondary:hover, h2:hover {
    color: lightgray;
}

h1 {
    margin: 1.5em 0 0.5em 0;
}


.push-right {
    margin-left: auto;
}


/* media queries */
